main
{
    margin:100px;
}
.common-margin-top
{
    margin-top: 100px;
}

/* for first section */

.first-section
{
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
}
.first-flower-part
{
   display: flex;
   justify-content:space-between;
   align-items: center;
}
.button-shop-now
{
    background-color: palevioletred;
    border: 0;
    padding:20px;
    border-radius: 5px;
    color:white; 
}
.first-flower-size
{
    height:450px;
    width:400px;
    padding: 20px 20px 0px 20px;
}
.first-flower-part-title
{
    text-align:center;
}

/* our feature part section */

.our-featured-flower-title
{
    text-align: center;
    
}
.our-featured-extra-part
{
    display: flex;
    background-color: grey;
    justify-content: space-around;
    padding: 20px;
  
}
.hot-deal-section
{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px; 
}
.hot-deal-section-title
{
    text-align: center;
}
.hot-deal-section-title-heading
{
    font-size: 30px;
}
.hot-deal-section-image
{
    height: 300px;
    width: 300px;
}

.footer
{
    background-color: black;
    height: 400px;
    color: white;
    text-align: center;
    
}
.flower
{
    color: rgb(247, 103, 127);
}
.footer-div
{
    padding-top: 100px;
}
.get-the-latest-deals
{
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    height:400px;
  
}
.latest-deals-title

{
    padding-top: 120px;
    text-align: center;
}
.latest-deals-title input[type=text]
{
  
    width: 500px;
    padding: 20px;
    border: 0;
    border-radius: 3px;
}
.subscribe-button
{

}
.all-reserved-footer
{
    margin: 50px;
    color: rgb(176, 174, 174);
}
.latest-deals-font
{
    font-size: 35px;
}
