main
{
    margin:100px;
}
.common-margin-top
{
    margin-top: 100px;
}

/*first section style*/

.first-section
{
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
}
.first-flower-part
{
   display: flex;
   justify-content:space-between;
   align-items: center;
   gap:-20%;
}
.button-shop-now
{
    background-color: palevioletred;
    border: 0;
    padding:20px;
    border-radius: 5px;
    color:white;
    margin-left: 150px;
    
}
.first-flower-size
{
    height:450px;
    width:400px;
    padding:50px 50px 50px 0px;
}
.first-flower-part-title
{
    text-align:justify;
    padding-left: 150px;
    font-size: 40px;
    font-weight: 800;
}
.first-flower-part-para
{
    text-align:justify;
    padding-left: 150px;
    color: rgb(185, 183, 183);
}

.paragraph
{
    color: rgb(185, 183, 183); 
    text-align: center; 
}
.our-feature-para
{
    margin-left: -50px;
}

/* our feature part section */

.our-featured-flower-title
{
    text-align: center;   
}
.our-featured-flower-heading
{
    font-size: 30px;
    font-weight: 800;
}

.our-featured-extra-part
{
    display: flex;
    background-color: rgb(194, 192, 192);
    justify-content: space-around;
    padding: 20px;
  
}

/* instagram section style*/

.instagram-heading
{
    text-align: center;
    font-size: 30px;
    
}
.insta-para
{
    color: rgb(181, 180, 180);
    text-align: center;
}
.insta-img-size
{
    height: 350px;
    width:302px;
    margin-right: 27px;
    
}
#insta-last-img
{
    margin-right: 0px;
}

/* hot deal section style */

.hot-deal-section
{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px; 
}
.hot-deal-section-title
{
    text-align: center;
}
.hot-deal-section-title-heading
{
    font-size: 30px;
}
.hot-deal-section-image
{
    height: 300px;
    width: 300px;
}

/* footer section style */

.footer
{
    background-color: black;
    height: 400px;
    color: white;
    text-align: center;
    
}
.flower
{
    color: rgb(247, 103, 127);
}
.footer-div
{
    padding-top: 100px;
}
.get-the-latest-deals
{
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    height:400px;
  
}
.latest-deals-title
{
    padding-top: 120px;
    text-align: center;
}
.latest-deals-title input[type=text]
{
    width: 500px;
    padding: 20px;
    border: 0;
    border-radius: 3px;
}

.subscribe-sign-up-button
{
    background-color: palevioletred;
    border: 0;
    padding:20px;
    border-radius: 5px;
    color:white;
}
.all-reserved-footer
{
    margin: 50px;
    color: rgb(176, 174, 174);
}
.latest-deals-font
{
    font-size: 35px;
}
